@model List<FutureCafe.Business.Dtos.ProductBanDto>

<div class="container">

  <div class="row mb-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Ürün Yasakla</h5>
        </div>
        <div class="card-body">
          <form asp-controller="Student" asp-action="Ban" method="post" class="d-flex align-items-center">
            <div class="container">

              @for (var i = 0; i < Model.Count; i += 2)
              {
                <div class="row mb-4">
                  <div class="col-lg-6 col-md-12">
                    <input type="text" asp-for="@Model[i].CategoryId" hidden />
                    <label class="control-label mb-2 fw-bold">@Model[i].CategoryName</label>
                    <select asp-for="@Model[i].SelectedProductIds" multiple="multiple" class="form-control js-states select2" asp-items="@(new SelectList(Model[i].ProductList, "Id", "Name"))">
                      <option value="-1">-- Tüm Kategori --</option>
                    </select>
                  </div>
                  @if (i + 1 < Model.Count)
                  {
                    <div class="col-lg-6 col-md-12">
                      <input type="text" asp-for="@Model[i + 1].CategoryId" hidden />
                      <label class="control-label mb-2 fw-bold">@Model[i + 1].CategoryName</label>
                      <select asp-for="@Model[i + 1].SelectedProductIds" multiple="multiple" class="form-control js-states select2" asp-items="@(new SelectList(Model[i + 1].ProductList, "Id", "Name"))">
                        <option value="-1">-- Tüm Kategori --</option>
                      </select>
                    </div>
                  }
                </div>
              }
              <div class="row mb-2">
                <div class="col">
                  <button type="submit" class="btn btn-warning" style="width:150px">Yasakla</button>
                  <a asp-controller="Student" asp-action="Index" class="btn btn-primary" style="width:150px">Listeye Dön</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $('.select2').select2({ placeholder: 'Bir seçenek seçin.' });

    $('.select2').on('change', function () {
      var selectedValues = $(this).val();
      var isAllCategorySelected = selectedValues && selectedValues.includes('-1');
      if (isAllCategorySelected) {
        $(this).val('-1').trigger('change.select2');
      }
    });
  });
</script>